<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.nisecoder.aojcoder.PreferencesPage"
            id="com.nisecoder.aojcoder.preference"
            name="AojCoder">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.nisecoder.aojcoder.views"
            class="com.nisecoder.aojcoder.AojProblemView"
            id="com.nisecoder.aojcoder.views"
            name="AojProblemView"
            restorable="true">
      </view>
      <category
            id="com.nisecoder.aojcoder.views"
            name="AojCoder">
      </category>
   </extension>
   <extension
         id="com.nisecoder.aojcoder.AojNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.nisecoder.aojcoder.AojNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.nisecoder.aojcoder.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.nisecoder.aojcoder.menu1"
               label="AOJ"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.nisecoder.aojcoder.popup.actions.SubmitAction"
               enablesFor="1"
               id="com.nisecoder.aojcoder.newAction"
               label="Submit"
               menubarPath="com.nisecoder.aojcoder.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
